<footer class="footer mt-auto py-3 position-absolute bg-light bottom-0 min-vw-100">
  <div class="container text-center">
    <span class="text-dark">Copyright &copy; Alpha Blog, 2022</span>
  </div>
</footer>