<footer class="footer mt-auto py-3 position-absolute bg-dark bottom-0 min-vw-100">
  <div class="container text-center">
    <span class="text-white-50">Copyright &copy; FinTracker, 2022</span>
  </div>
</footer>